= link_to root_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/home.png")
      .medium-2.cell
        .text-padding-home-icon
          Home
= link_to cross_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/lion.png")
      .medium-7.cell
        .text-padding-crosses-icon
          Across LionNav
= link_to lionsocial_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/social.png")
      .medium-5.cell
        .text-padding-cross-icon
          Lion Social 
= link_to moviemakers_path do
  .active
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/movie.png")
      .medium-5.cell
        .text-padding-cross-icon
          Movie Makers
= link_to rortutorials_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/code.png")
      .medium-5.cell
        .text-padding-cross-icon
          Rails Tutorials
= link_to lionfianace_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/money.png")
      .medium-5.cell
        .text-padding-cross-icon
          Lion Fianance 
