.grid-x
  .medium-3.cell
    = render "buttons/cross"
  .medium-9.cell
    .center
      %h2 LionNav Settings
      %h4 Control LionNav from just right here.
    .grid-x
      .medium-4.cell
        .callout.info
          .center
            %h4 Users
            %p Shows all users and information about them.
            = link_to "Open", usercontrol_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Disable
            %p Shows all disbale options for lionnav.
            = link_to "Open", disablecontrol_path, class: "button"
      .medium-4.cell
        .callout.info 
          .center
            %h4 Anncouments
            %p Create, edit, and delete all anncouments on Lion Nav.
            = link_to "Open", annocments_path, class: "button"
      .medium-4.cell
        .callout.info 
          .center
            %h4 About Pages
            %p Create, edit, and delete all about pages on Lion Nav.
            = link_to "Open", aboutpages_path, class: "button"
      .medium-4.cell 
        .callout.info
          .center 
            %h4 Errors
            %p See all the errors that have been reported across lionnav
            = link_to "Open", errorpage_path, class: "button"
