.grid-x
  .medium-3.cell
    = render "buttons/railstutorials"
  .medium-9.cell
    .center
      %h2 Rails Tutorials Settings
      %h4 Control Rails Tutorials from just right here.
    .grid-x
      .medium-4.cell
        .callout.info
          .center
            %h4 Forums
            %p Shows all fourms posted on Rails Fourms.
            = link_to "Open", fourms_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Comments
            %p Shows all comments posted on fourms.
            = link_to "Open", fourmcomments_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Errors
            %p Shows all errors reported for Rails Fourms.
            = link_to "Open", fourmerrors_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 About
            %p Shows all about pages for Rails Fourms.
            = link_to "Open", fourmabout_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Videos
            %p Shows all videos posted on Rails Fourms.
            = link_to "Open", videos_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Guides
            %p Shows all the guides for Rails Fourms.
            = link_to "Open", fourmabout_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Annoucments
            %p Shows all annoucments for Rails Fourms.
            = link_to "Open", fourmabout_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Disable
            %p Shows all disable options for Rails Fourms.
            = link_to "Open", fourmdisable_path, class: "button"
            