.grid-x
  .medium-3.cell
    = render "buttons/lionsocial"
  .medium-9.cell
    .center
      %h2 Errors 
      %h4 See errors that are related to Lion Social
    %table
      %thead
        %tr
          %th Id
          %th Error
          %th Discribtion
          %th Resolved?
          %th Update
      %tbody
        - @error.each do |error|
          - if error.site == "social"
            %tr
              %td= error.id
              %td= error.error
              %td= error.description
              %td= error.resolved
              %td= link_to "Mark Resolved", resolved_path(:updatecall => error.id)
    
    = link_to "Back", lionsocial_path, class: "button"