.grid-x
  .medium-3.cell
    = render "buttons/lionfianace"
  .medium-9.cell
    .center
      %h2 Disable Settings
      %h4 Control what features you can disable
    = form_for @disable do |f|
      .grid-x
        .medium-3.cell.space
          %p
            = f.label :Disable_expenses
            = f.select :expense, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_payments
            = f.select :payment, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Lion_Fianace
            = f.select :lionfianace, [['No', false], ['Yes', true]]

      = f.submit class: "button"
    = link_to "Back", lionfianace_path, class: "button"