.grid-x
  .medium-3.cell
    = render "buttons/railstutorials"
  .medium-9.cell
    .center
      %h2 Disable Settings
      %h4 Control what features you can disable
    = form_for @disable do |f|
      .grid-x
        .medium-3.cell.space
          %p
            = f.label :Disable_forums
            = f.select :forums, [['No', false], ['Yes', true]]
        .medium-3.cell.space 
          %p 
            = f.label :Disable_videos
            = f.select :video, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Rails_Tutorial
            = f.select :tutorial, [['No', false], ['Yes', true]]

      = f.submit class: "button"
    = link_to "Back", rortutorials_path, class: "button"