.grid-x
  .medium-3.cell
    = render "buttons/cross"
  .medium-9.cell
    .center
      %h2 Disable Settings
      %h4 Control what features you can disable
    = form_for @disable do |f|
      .grid-x
        .medium-3.cell.space
          %p
            = f.label :Disable_LionNav
            = f.select :homedisable, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Posts
            = f.select :postdisable, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_conversations
            = f.select :conversationdisable, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_users
            = f.select :userdisable, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Movies
            = f.select :movie, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_scenes
            = f.select :scene, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_credits
            = f.select :credit, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_errors
            = f.select :error, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_expenses
            = f.select :expense, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_forums
            = f.select :forums, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_About
            = f.select :about, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_payments
            = f.select :payment, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_picturescenes
            = f.select :picturescene, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_video
            = f.select :video, [['No', false], ['Yes', true]]
        .medium-3.cell.space 
          %p 
            = f.label :Disable_chatrooms
            = f.select :chatrooms, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Lion_Social
            = f.select :lionsocial, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Lion_Fianace
            = f.select :lionfianace, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Movie_Makers
            = f.select :moviemaker, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_Rails_Tutorial
            = f.select :tutorial, [['No', false], ['Yes', true]]
        .medium-3.cell.space
          %p
            = f.label :Disable_My_Accont
            = f.select :myaccont, [['No', false], ['Yes', true]]
      = f.submit class: "button"
      = link_to "Back", cross_path, class: "button"
