.grid-x
  .medium-3.cell
    = render "buttons/cross"
  .medium-9.cell
    .center
      %h2 Users Settings
      %h4 Control Users from just about anything
    %table
      %thead
        %tr
          %th Id
          %th Username
          %th Email
          %th Edit Role
          %th Role
          %th Remove

      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.username
            %td= user.email
            %td= link_to 'Role Edit', edit_user_path(user)
            %td= user.role
            %td= link_to 'Destroy', user,data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
    = link_to "Back", cross_path, class: "button"